/* General */

:root {
  --accent-color: #ff6c00;
  --primary-text-color: #303030;
  --secondary-text-color: #555555;
  --primary-title-color: #ffffff;
  --primary-btn-color: #ffffff;
  --primary-link-color: #ffffff;
  --main-margin: 20px;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: var(--primary-text-color);
  background-color: #ffffff;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  min-width: 160px;
  min-height: 40px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--primary-btn-color);
  background-color: transparent;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
}

.section {
  padding: 120px 0;
}

.subtitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
}

.title {
  font-family: 'Raleway';
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.desc {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* -- Header -- */

.header {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: rgb(128, 128, 128);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 131px;
}

.header-nav {
  margin-right: auto;
}

.header-list {
  display: flex;
  gap: 30px;
}

.header-list-item {
}

/* .header-list-item:not(:last-child) {
  margin-right: 30px;
} */

.header-list-link,
.header-contact-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--primary-link-color);
}

.header-list-link:hover,
.header-list-link:focus {
  color: var(--accent-color);
}

.header-contact-link {
  margin-right: 43px;
  text-transform: uppercase;
}

.header-btn {
}

/* -- Hero section -- */

.hero {
}

.hero-container {
  display: flex;
}

.hero-list {
}

.hero-list-item {
}

.hero-list-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: inherit;
}

.hero-list-link:hover,
.hero-list-link:focus {
  color: var(--accent-color);
}

.hero-content {
  flex-grow: 1;
  padding: 272px 100px 208px;
  background-color: #cecece;
}

.hero-subtitle {
  margin-bottom: var(--main-margin);
  color: rgba(157, 164, 189, 0.6);
}

.hero-title {
  margin-bottom: var(--main-margin);
  font-size: 72px;
  line-height: 1.18;
  color: var(--primary-title-color);
}

.hero-desc {
  max-width: 360px;
  color: #9da4bd;
}

/* -- About section -- */

.about-container {
  display: flex;
  gap: 30px;
}

.about-list {
  display: flex;
  gap: 30px;
}

.about-list-item {
}

.about-content {
  max-width: 470px;
}

.about-subtitle {
  margin-bottom: var(--main-margin);
}

.about-title {
  margin-bottom: var(--main-margin);
}

.about-desc {
  margin-bottom: var(--main-margin);
  color: var(--secondary-text-color);
}

.about-text {
  margin-bottom: 42px;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.about-btn {
  color: inherit;
}

/* -- Prices section -- */

.prices {
  background-color: #494949;
}

.prices-subtitle {
  margin-bottom: var(--main-margin);
  color: rgba(157, 164, 189, 0.6);
}

.prices-title {
  margin-bottom: 44px;
  color: var(--primary-title-color);
}

.prices-wrap {
  display: flex;
  justify-content: space-between;
}

.prices-list {
  width: calc((100% - 30px) / 2);
  padding: 30px 20px;
  border: 1px solid #ffffff;
}

.prices-list-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.prices-list-item:last-child {
  margin-bottom: 0;
}

.prices-list-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.prices-btn {
  display: block;
  margin: 44px auto 0;
}

/* -- Features section -- */

.features {
}

.features-container {
  display: flex;
  padding-left: 115px;
  gap: 130px;
}

.features-list {
  display: flex;
  width: 370px;
  flex-wrap: wrap;
}

.features-list-item {
  padding: 20px 24px;
  width: 170px;
  height: 133px;
  text-align: center;
  background-color: #f7f7f7;
}

.features-list-item:nth-child(odd) {
  margin-right: 30px;
}

.features-list-item:nth-child(even) {
  margin-top: 30px;
}

.features-list-count {
  display: block;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;
}

.features-list-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
}

.features-wrap {
  max-width: 500px;
  padding-top: 9px;
}

.features-subtitle {
  margin-bottom: var(--main-margin);
}

.features-title {
  margin-bottom: var(--main-margin);
}

.features-desc {
  color: var(--secondary-text-color);
}

/* -- Barbers section -- */

.barbers {
  background-color: #f7f7f7;
}

.barbers-subtitle {
  margin-bottom: var(--main-margin);
}

.barbers-title {
  margin-bottom: 44px;
}

.barbers-list {
  display: flex;
  gap: 30px;
}

.barbers-list-item {
  width: calc((100% - 30px * 2) / 3);
}

.barbers-list-title {
  margin-top: 30px;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
}

.barbers-list-text {
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

/* -- Gallety section -- */
.gallery {
}

.gallery-subtitle {
  margin-bottom: 44px;
}

.gallery-title {
}

.gallery-list {
}

.gallery-list-item {
}

/* -- Contacts section */

.contacts-wrap {
  background-color: #191c26;
}

.online {
  padding-top: 130px;
}

.online-title {
  margin-bottom: 44px;
}

.online-btn {
}

.contacts {
  padding-top: 130px;
  padding-bottom: 120px;
}

.contacts-title {
  margin-bottom: 40px;
}

.contacts-address {
  margin-bottom: 70px;
}

.contacts-list {
  margin-bottom: var(--main-margin);
}

.contacts-list-item {
  margin-bottom: var(--main-margin);
}

.contacts-list-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.contacts-list-link.address {
  font-weight: 700;
}

.contacts-subtitle {
  margin-bottom: var(--main-margin);
  color: var(--primary-title-color);
}

.contacts-desc {
  color: #9da4bd;
}

/* -- Footer -- */

.footer {
  padding: 56px 0;
}

.footer-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #9da4bd;
}

.footer-list {
}

.footer-list-item {
}

.footer-list-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: inherit;
}
