.footer {
  padding: 44px 0;

  @include adaptive(tab-min) {
    padding: 56px 0;
  }
}

.footer__container {
  @include adaptive(tab-min) {
    @include centered-flex(space-between);
    flex-direction: row-reverse;
  }
}

.footer__text {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;
  color: $secondary-text-color;
}
