.hero__container {
  position: relative;

  @include adaptive(mob-only) {
    max-width: 100%;
    padding: 0;
  }

  @include adaptive(tab-min) {
    padding-left: 135px;
  }

  @include adaptive(desk) {
    padding-left: 115px;
  }
}

.hero__content {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
  padding-top: 208px;
  pointer-events: none;
  transform: translateX(-50%);

  @include adaptive(tab-min) {
    padding-top: 272px;
    padding-left: 225px;
  }

  @include adaptive(tab-min) {
    padding-top: 272px;
    padding-left: 215px;
  }
}

.hero__headline {
  color: $transparent-headline-color;

  @include adaptive(mob-only) {
    letter-spacing: 0.1em;
  }
}

.hero__title {
  font-size: 40px;
  line-height: calc(56 / 48);

  @include adaptive(mob-min) {
    font-size: 48px;
  }

  @include adaptive(desk) {
    font-size: 72px;
    line-height: calc(85 / 72);
  }
}

.hero__desc {
  max-width: 390px;
  color: $secondary-text-color;

  @include adaptive(mob-only) {
    max-width: 340px;
  }
}
